.card {
  border-radius: 20px;
  overflow: hidden;
  width: 450px;
  height: 620px;
  box-shadow: 1px 1px 10px 3px rgba(100, 50, 0, 0.3);
  border: 2px solid #f56322;
}

.miniCard {
  border-radius: 20px;
  overflow: hidden;
  width: 380px;
  height: 500px;
  box-shadow: 1px 1px 10px 3px rgba(100, 50, 0, 0.3);
  border: 2px solid #f56322;
}

.cardImage {
  height: 250px;
  object-fit: cover;
}

.action {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.cardDescription {
  height: 50px;
}

.sidebar {
  padding-top: 20px;
  min-width: 250px;
  background-color: #fff;
  box-shadow: 0px 2px 10px 2px rgba(100, 50, 0, 0.3);
}

.plusButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  height: 50px;
  width: 50px;
  font-size: 23px;
}

.row {
  overflow-y: auto;
  height: 100%;
}

.timerCardWrapper {
  position: fixed;
  right: 50px;
  top: 120px;
}

.timerCard {
  width: 250px;
  height: 140px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 13px 2px rgba(100, 50, 0, 0.3);
}

.fullRecipeCard {
  text-align: left;
  background-color: white;
  border: 2px solid f56322;
  box-shadow: 1px 1px 13px 2px rgba(100, 50, 0, 0.3);
  border-radius: 20px;
}

.stepCard {
  text-align: left;
  background-color: white;
  border: 2px solid f56322;
  box-shadow: 1px 1px 13px 2px rgba(100, 50, 0, 0.3);
  border-radius: 20px;
  padding: 50px;
  width: 500px;
}

.buttonsWrapper {
  display: flex;
  width: 170px;
  justify-content: space-between;
  margin-top: 15px;
}

.formImage {
  height: 400px;
  width: 400px;
  align-self: center;
  object-fit: contain;
}

.recipeFormCard {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  background-color: white;
  border: 2px solid f56322;
  box-shadow: 1px 1px 13px 2px rgba(100, 50, 0, 0.3);
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  min-width: 700px;
}

.formButtonWide {
  width: 100%;
}
