.navbar {
  height: 90px;
  background-color: #f56322;
  position: absolute;
  width: 100%;
  top: 0;
  box-shadow: 1px 0px 15px 3px rgba(100, 50, 0, 0.4);
}

.logo {
  height: 100%;
  padding: 10px;
}

.userImage {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  color: white !important;
  margin: 0 !important;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
