body {
  background-color: antiquewhite;
}

.loginFormWrap {
  width: 250px;
}

.signupCard {
  border-radius: 20px;
  border: 2px solid #f56322;
  background-color: white;
  box-shadow: 1px 1px 10px 3px rgba(100, 50, 0, 0.2);
  overflow: hidden;
}

.image {
  width: 100%;
  height: 500px;
  border-radius: 17px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-size: cover;
  background-position: center;
}

.wideButton {
  width: 100%;
}
